# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/lib/generated/prisma

/public/uploads/*
!/public/uploads/.gitkeep
!/public/uploads/banners/.gitkeep
!/public/uploads/gallery/.gitkeep
!/public/uploads/potentials/.gitkeep
!/public/uploads/structure/.gitkeep
!/public/uploads/posts/.gitkeep
!/public/uploads/facilities/.gitkeep
!/public/uploads/legacy/.gitkeep